<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.taqani">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login_SingUp.SingUp_screen"></activity>
        <activity android:name=".UserType" />
        <activity android:name=".Login_SingUp.Login_screen" />
        <activity android:name=".UserLocation.GetUserLocationMap_screen" />
        <activity android:name=".UserLocation.GetUsersLocation_screen" />
        <activity android:name=".intro.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intro.IntroActivity" />
        <activity android:name=".MainActivity" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

    </application>

</manifest>